* {
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;800;900&display=swap");
  
  body {
    font-family: "Livvic", sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    height: 100%;
  }
  .container {
    max-width: 1070px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-header {
    background-color: #014e56;
  }
  .main-nav {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .logo-link:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .navlist {
    display: flex;
    list-style: none;
  }
  .header-navlist {
    margin-left: 80px;
  }
  .navlist__item:not(:last-child) {
    margin-right: 40px;
  }
  .navlist-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    transition: color 0.6s;
  }
  .navlist-link:hover {
    color: tomato;
    cursor: pointer;
  }
  .contact-link {
    margin-left: auto;
    color: #fff;
    border: 2px solid #fff;
  }
  .contact-link:hover {
    background-color: tomato;
  }
  .link {
    text-decoration: none;
    border-radius: 24px;
    padding: 10px 33px;
    transition: background 0.6s;
  }
  .hero-part {
    padding-top: 65px;
    padding-bottom: 120px;
    background:url(../../img/about-hero-circle.svg) no-repeat right calc(50% - 680px) bottom;
  }
  .display {
    display: flex;
    align-items: center;
  }

  .hero__title {
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
  }
  .about-hero-title{
    font-size: 64px;
    width: 350px;
  }
  .text-color {
    color: tomato;
  }
  .hero__text--content {
    width: 730px;
  }
  .hero-hr {
      margin-bottom: 40px;
      margin-left: 0px;
      width: 50px;
      height: 4px;
      background:  #F67E7E;
    }
    .hero__text {
        font-size: 18px;
        line-height: 28px;
        color: #fff;
    }

    /* section */

    .section-workers-meet {
    background: url(../../img/directors-circle.svg) no-repeat left calc(50% - 680px)
    top,url(../../img/directors-rect.svg) no-repeat right calc(50% - 600px) bottom,#004047;
        padding-top: 150px;
        padding-bottom: 180px;
    }
    .workers-meet-title{
        text-align: center;
        margin: 0;
        margin-bottom: 65px;
        font-weight: bold;
font-size: 48px;
line-height: 48px;
text-align: center;
color: #FFFFFF;
    }

    .grid-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 76px;
    }
    .personal-card {
        width: 350px;
        height: 253px;
        text-align: center;
        background: #012F34;
        padding: 32px 24px;
        flex-direction: column;
    }
    .personal-card__img {
        width: 96px;
        width: 96px;
        border-radius:50%;
        border:2px solid #C4FFFE;
    }
    .personal-card__name {
        font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
    }
    .personal-card__professie {
        font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
    }
    .plus{
        background: coral;
        padding: 20px;
        border-radius: 50%;
    }
    .plus-diff{
        background:#79C8C7;
        transform: rotate(45deg);
        margin-top: 15px;
    }
    .personal-card__list {
        display: flex;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        margin-bottom: 34px;
        margin-top: 24px;
    }
    .personal-card__item:not(:last-child) {
        margin-right: 16px;

    }
    .company {
        padding: 145px 0px;
        background:url(../../img/clients-circle.svg) no-repeat left calc(50% - 580px)
        top,  #012F34; 
    }
    .company-title {
        font-weight: bold;
font-size: 48px;
line-height: 48px;
text-align: center;
color: #FFFFFF;
margin: 0;
margin-bottom: 70px;
    }
    .company__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .company__item:not(:last-child){
        margin-right: 80px;
    }
    .company-img {
        display: block;
    }
    .promo-section {
        background: url(../../img/cta-bg.svg) no-repeat, #f67e7e;
        background-position-x: calc(50% - 515px);
        background-position-y: 60px;
      }
      .promo-section-container {
        display: flex;
        justify-content: flex-end;
        padding: 76px 0px;
        align-items: center;
      }
      .promo-section-title {
        margin: 0;
        margin-right: 260px;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        color: #012f34;
      }
      .promo-link {
        border: 2px solid #012f34;
        box-sizing: border-box;
        border-radius: 24px;
        font-size: 18px;
        line-height: 28px;
        color: #012f34;
      }
      .promo-link:hover {
        background: #fff;
        color: tomato;
        border: 2px solid #fff;
      }
      /* FOOTER */
      .main-footer {
        background: #002529;
        padding: 48px 0px;
      }
      .footer-navlist {
        padding: 0;
      }
      .main-footer__container {
        display: flex;
        align-items: center;
      }
      .footer-logo-content {
        margin-right: 125px;
      }
      .footer-wrap {
        display: flex;
        align-items: center;
      }
      .footer-text-xontent__text {
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
      .social-links-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
      }
      .social-link__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
      }
      .social-link__item:not(:last-child) {
        margin-right: 16px;
      }
      .social-img:hover {
        opacity: 0.6;
        cursor: pointer;
      }
      .social-link__text {
        font-size: 15px;
        line-height: 25px;
        text-align: right;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.6;
      }